<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!--Dev-->
		<add key="SystemBuild" value="QA"/>
		<add key="localIncomingPath" value="C:\projects\GitProjects\Inspirus\Test\localIncomingPath"/>
		<add key="localDesignFilesArchivePath" value="C:\projects\GitProjects\Inspirus\Test\localIncomingPath"/>
		<add key="localDesignFilesPath" value="C:\projects\GitProjects\Inspirus\Test\localIncomingPath"/>
		<add key="ZipExtractedIncomingFiles" value="C:\projects\GitProjects\Inspirus\Test\ZipExtractedIncomingFiles"/>
		<add key="ArchiveZipExtractedIncomingFiles" value="C:\projects\GitProjects\Inspirus\Test\ZipExtractedIncomingFiles\Archive"/>
		<add key="localIncomingArchivePath" value="C:\projects\GitProjects\Inspirus\Test\localIncomingPath\Archive"/>

		<add key="pgpPublicKeyFilePath" value="f:\Cenveo\EncryptionDecryptionEntity\Program\key0xB2C0029C36C49F7F.asc"/>
		<add key="pgpSecretKeyFilePath" value="f:\Cenveo\EncryptionDecryptionEntity\Program\Cenveo(Minneapolis).asc"/>
		<add key="pgpPassPhrase" value="HUNbHnC29YnZXax1cXvPWlnfMKW7I97k6kL/3Ir0aqt5lJ/0NAvPF6n0wv6UNJKl" />
		
		<add key="incomingFileEncoding" value="Encoding.UTF8"/>
		<add key="sftpRemoteDownloadPath" value="/sftp-allymarqa/inbound/UAT/Atrio/partceob/"/>
		<add key="sftpRemoteHostName" value="sftp.colorart.com"/>
		<add key="sftpRemoteUser" value="allymarqa"/>
		<add key="sftpRemotePW" value="RB7681XR7r%8"/>

		<!--EMail Information-->
		<add key="sendErrorsEMail" value="kalyani.charhate@colorart.com"/>
		<add key="sendErrorsCCNames" value=""/>
		<add key="sendInfoEMail" value="kalyani.charhate@colorart.com"/>
		<add key="sendInfoCCNames" value=""/>
		<add key="sendProdEMail" value="kalyani.charhate@colorart.com"/>

		<!--Email Generic-->
		<add key="senderName" value="automail.036@colorArt.com"/>
		<add key="smtpUserName" value="AKIA4KNBCGVU4HFAFHZH"/>
		<add key="smtpPassword" value="BNcr/WhI+HF6DkSo2vVodTvBTIsvSYD95AcBkav3gHFW"/>
		<add key="smtpServerName" value="email-smtp.us-east-1.amazonaws.com"/>
	</appSettings>
</configuration>